<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor.min.css" />
    @RenderSection("AccountStyles", false)
    <link rel="stylesheet" href="~/mainStyles.css" />
</head>
<body>
    @RenderSection("Header", false)
    @RenderBody()
    @RenderSection("Footer", false)
    <script src="~/vendor.min.js"></script>
</body>
</html>